# zetta
.zetta.d/eaf
#for now
elfeed.stats
logview-cache.extmap
.dap-breakpoints
.zetta.d/detached/
var/
request/
url/
config/tangled/
projectile-bookmarks.eld
projectile.cache
transient/
eshell/
private.el
notes.txt
read.html
tramp
.cache/
.4mn_code*
bookmarks
projects
org-roam.db
.org-id-locations
.lsp-session*
network-security.data
recentf
.sx
snippets/
history
.emacs.desktop*
dtache.db
org-persist
forge-database.sqlite
eww-bookmarks
 \*Minibuf*
.snippets.html
.zetta.d/source/straight/build/
.zetta.d/source/straight/repos/
.zetta.d/source/straight/build-cache.el
build-cache.el
keybindings.org
.snippets.org
eln-cache/


# org-roam
README*
# roam nodes created and not filed yet
org-roam/*.org
org-roam/image/
org-roam/private/
org-roam/daily/2*
org-roam/daily/agenda.org
org-roam/daily/agenda.org_archive
org-roam/daily/sprint.org
org-roam/daily/sprint.org_archive


# .lit


# files